.register-container{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.register-form {
    display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
	gap: 32px;
    
}

.form-fields {
    display: flex;
	flex-direction: column;
	width: 65%;
	align-items: center;
	gap: 15px;

}

input {
    width: 60%;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #efefef;
    border: 1px solid #bbb;
}

input[aria-invalid='true'] {
    border: 1px solid crimson;
}

.error-message {
    color: crimson;
}

.submit-button {
    
}

.button-container {
    padding-top: 20px;
}